<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1> Risk-Assessment-Service </h1>
   
    <header style="border-bottom:1px solid #aaa;  margin-bottom:10px; padding-bottom:10px;  ">
        <nav>
            <a href="/">홈</a> | 
            <a href="/upload_files"> 위험사항 업로드</a>  |  
            <a href="/fileList">사진,동영상 보기</a>  |  
            
        </nav>
    </header>